<div class="row">
  <div class="col-md-4">
    <h2>Barra de navegaci&oacute;n</h2>
  </div>
  <div class="col-md-8">
    <div class="jumbotron">
      <h1>Curso Ruby on Rails</h1>
      <p>
        Ejemplo aplicacion utilizando framework Ruby on Rails
        <%= link_to "Enlace a Oja.la", "http://oja.la"%>
        <%= link_to "Ruby on Rails", "http://rubyonrails.org"%>
      </p>
      <p>
        <%= link_to "Registrarse", "#", :class=> 'btn btn-primary btn-lg' %>
      </p>
    </div>
    </span>
  </div>
</div>
